# Tiger Data keys
TIMESCALE_SERVICE_URL=
PGPASSWORD=
PGUSER=
PGDATABASE=
PGHOST=
PGPORT=
PGSSLMODE=


# ElevenLabs
ELEVEN_API=

# GEMINI
GEMINI_API=

# MATLAB Production Server (remote, via ngrok)
MATLAB_URL=
MATLAB_TOKEN=
